<div style="display: flex;align-items: center;padding-top: 5px;padding-bottom: 5px;">
    <mat-checkbox class="example-margin" color="primary" [(ngModel)]="fieldDetails.isChecked" style="width: 50%;" (change)="setAll()">{{fieldDetails.dv}}</mat-checkbox>
    <div style="width: 50%;">
        <input *ngIf="fieldDetails.isChecked" [type]="fieldDetails.type =='varchar'? 'text':'number'" class="input-control" placeholder="Enter {{fieldDetails.dv}}" [(ngModel)]="fieldDetails.value">
    </div>
</div>