<div>
    <div class="flex" style="padding: 2em 1em;max-width: 1140px;margin-right: auto;
    margin-left: auto;">
        <div style="width: 50%;padding-right: 15px;">
            <h2 class="title-content">Delivery address</h2>
            <div style="padding: 3rem;border: 1px solid #dee2e6;box-sizing: border-box;min-height: 100px;">
                <div *ngIf="!addressLoading" style="display: flex;width: 100%;">
                    <div *ngIf="!isSelectAddress && selectedAddress!=null" style="width: 100%;display: flex;">
                        <div style="width: 87%;">
                            <div class="content" style="font-weight: 600;">{{ selectedAddress.name}}</div>
                            <div class="content">{{ selectedAddress.address }}</div>
                            <div class="content">{{ selectedAddress.city }} ,{{selectedAddress.state}} , {{
                                selectedAddress.postalCode }}</div>
                            <div class="content">{{ selectedAddress.country }}</div>
                        </div>
                        <div style="width: 13%;">
                            <span class="edit-bar-color" (click)="addressChange()">Change</span>
                        </div>
                    </div>
                    <div *ngIf="isSelectAddress">
                        <div style="padding-bottom: 15px;border-bottom: 1px solid;margin-bottom: 10px;">
                            <label id="example-radio-group-label">Select Your addresses</label>
                        </div>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="selectedAddress" style="display: flex; flex-direction: column;">
                            <div *ngFor="let addressDetail of addressDetailsList"
                                [ngClass]="{'selected-address': selectedAddress.id === addressDetail.id}"
                                class="address-option">
                                <mat-radio-button color="primary" class="example-radio-button" [value]="addressDetail"
                                    [checked]="selectedAddress.id==addressDetail.id">
                                    <span class="content" style="font-weight: 600;">{{ addressDetail.name }}</span>
                                    {{ addressDetail.address }}, {{ addressDetail.city }}, {{ addressDetail.state }}, {{
                                    addressDetail.postalCode }}
                                </mat-radio-button>
                            </div>
                        </mat-radio-group>

                        <div class="add-address-wrapper" (click)="addNewAddress()">
                            <div>
                                <mat-icon class="customIconSize" aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="add"></mat-icon>
                            </div>
                            <h3 style="margin:0;">Add New address</h3>
                        </div>
                        <button class="changeAddress-btn" (click)="isSelectAddress=false">Save Address</button>
                    </div>
                    <div *ngIf="!isSelectAddress && selectedAddress==null">
                        <div class="add-address-wrapper" (click)="addNewAddress()">
                            <div>
                                <mat-icon class="customIconSize" aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="add"></mat-icon>
                            </div>
                            <h3 style="margin:0;">Add New address</h3>
                        </div>
                    </div>
                </div>
                <div *ngIf="addressLoading"
                    style="display: flex;align-items: center;justify-content: center;margin-top: 10%;">
                    <mat-spinner [diameter]="50"></mat-spinner>
                </div>
                <!-- <div class="">
                    <table class=" width100" cellspacing="0">
                        <tr class="flex" style="gap: 15px;">
                            <td class="width100">
                                <mat-form-field class=" width100 m-b5" appearance="outline">
                                    <mat-label>First name</mat-label>
                                    <input matInput (keydown)="allowStringOnly($event)" maxlength="50"
                                        [(ngModel)]="firstName">
                                </mat-form-field>
                            </td>
                            <td class="width100">
                                <mat-form-field class=" width100 m-b5" appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput (keydown)="allowStringOnly($event)" maxlength="50"
                                        [(ngModel)]="lastName">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <mat-form-field class=" width100 m-b5" appearance="outline">
                        <mat-label>Address</mat-label>
                        <input matInput (keydown)="allowStringOnly($event)" maxlength="150" [(ngModel)]="address">
                    </mat-form-field>
                </div>
                <div>
                    <table class=" width100" cellspacing="0">
                        <tr class="flex" style="gap: 15px;">
                            <td class="width100">
                                <mat-form-field class=" width100 m-b5" appearance="outline">
                                    <mat-label>State</mat-label>
                                    <input matInput (keydown)="allowStringOnly($event)" maxlength="50"
                                        [(ngModel)]="state">
                                </mat-form-field>
                            </td>
                            <td class="width100">
                                <mat-form-field class=" width100 m-b5" appearance="outline">
                                    <mat-label>Postal / Zip *</mat-label>
                                    <input matInput maxlength="6" (keydown)="allOnlyNumber($event)" [(ngModel)]="postalCode" [formControl]="postalCodeControl">
                                    <mat-error
                                            *ngIf="postalCodeControl.invalid && (postalCodeControl.dirty || postalCodeControl.touched)">Invalid
                                            postal</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table class=" width100" cellspacing="0">
                        <tr class="flex" style="gap: 15px;">
                            <td class="width100">
                                <mat-form-field class="" appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput [formControl]="emailFormControl"
                                        [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
                                    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                                    <mat-error>Please enter a valid email address</mat-error>
                                    }
                                    @if (emailFormControl.hasError('required')) {
                                    <mat-error>Email is <strong>required</strong></mat-error>
                                    }
                                </mat-form-field>
                            </td>
                            <td class="width100">
                                <mat-form-field class=" width100 m-b5" appearance="outline">
                                    <mat-label>Phone</mat-label>
                                    <span matTextPrefix style="display: flex;line-height: normal;height: 10px;">+91
                                        &nbsp;</span>
                                    <input matInput maxlength="10" (keydown)="allOnlyNumber($event)" [formControl]="phoneNumberControl" [(ngModel)]="phone">
                                    <mat-error
                                            *ngIf="phoneNumberControl.invalid && (phoneNumberControl.dirty || phoneNumberControl.touched)">Invalid
                                            phone number</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </div> -->
            </div>

        </div>
        <div style="width: 50%;padding-left: 15px;">
            <div class="m-b40">
                <h2 class="title-content">Coupon Code</h2>
                <div style="padding: 3rem;border: 1px solid #dee2e6;box-sizing: border-box;">
                    <label style="margin-bottom: 10px;display: flex;">Enter your coupon code if you have one</label>
                    <div class="coupen-section-wrapper">
                        <input type="text" class="input-control" placeholder="Coupon Code"
                            style="padding: 0.375rem 0.75rem;">
                        <div class="input-group-append" style="margin-left: -1px;">
                            <button class="coupen-button btn-primary">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="title-content">Your Order</h2>
                <div class="price-details" style="padding: 3rem;border: 1px solid #dee2e6;box-sizing: border-box;">
                    <table class="width100" style="margin-bottom: 3rem;">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of productList">
                                <td>{{ product.name}} <strong>x</strong> {{product.quantity}}</td>
                                <td>${{ product.total }}.00</td>
                            </tr>

                            <tr>
                                <td><strong>Cart Subtotal</strong></td>
                                <td>${{totalPrice()}}.00</td>
                            </tr>
                            <tr>
                                <td><strong>Order Total</strong></td>
                                <td><strong>${{totalPrice()}}.00</strong></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="border payment-cards-wrapper toggle-container" style="margin-bottom: 1rem">
                        <input type="checkbox" id="toggle" class="toggle-input" style="display: none;" #creditCheckbox>
                        <h3 style="margin: 0px;" class="toggle-label" (click)="togglePaymentMethod('credit')"><label
                                for="toggle" class="toggle-label">
                                Cart Payment</label>
                        </h3>
                        <div class="toggle-content" id="collapsebank">
                            <div style="margin-top: 10px;">
                                <div class="m-b10"> <mat-form-field class="width100" appearance="outline">
                                        <mat-label>Cart Number</mat-label>
                                        <input matInput placeholder="Enter cart number" value=""
                                            (keydown)="allOnlyNumber($event)" minlength="16" maxlength="16"
                                            [formControl]="cartFormControl" [ngModel]="cartNumber">
                                        <mat-error
                                            *ngIf="cartFormControl.invalid && (cartFormControl.dirty || cartFormControl.touched)">Invalid
                                            cart number</mat-error>
                                    </mat-form-field></div>
                                <div class="m-b10">
                                    <mat-form-field class="width100" appearance="outline">
                                        <mat-label>Expiry Date</mat-label>
                                        <input matInput [matDatepicker]="dp" [formControl]="date">
                                        <mat-hint>MM/YYYY</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                                        <mat-datepicker #dp startView="multi-year"
                                            (monthSelected)="setMonthAndYear($event, dp)"
                                            panelClass="example-month-picker">
                                        </mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="m-b10"> <mat-form-field class="width100" appearance="outline">
                                        <mat-label>CVV</mat-label>
                                        <input matInput placeholder="Enter CVV" [formControl]="cvvFormControl"
                                            maxlength="3" (keydown)="allOnlyNumber($event)" [value]="cvvValue">
                                        <mat-error
                                            *ngIf="cvvFormControl.invalid && (cvvFormControl.dirty || cvvFormControl.touched)">Invalid
                                            CVV</mat-error>
                                    </mat-form-field></div>
                                <div class="m-b10"> <mat-form-field class="width100" appearance="outline">
                                        <mat-label>Cardholder Name</mat-label>
                                        <input matInput name="cartHolderName" placeholder="Enter cardholder name"
                                            [(ngModel)]="cartHolderName">
                                    </mat-form-field></div>
                            </div>
                        </div>
                    </div>

                    <div class="border payment-cards-wrapper toggle-container" style="margin-bottom: 3rem;">
                        <input type="checkbox" id="toggle1" class="toggle-input" style="display: none;"
                            #netbankingCheckbox>
                        <h3 style="margin: 0px;" class="toggle-label" (click)="togglePaymentMethod('netbanking')"><label
                                for="toggle1" class="toggle-label">
                                Net Banking Payment</label>
                        </h3>
                        <div class="toggle-content" id="collapsebank">
                            <div style="margin-top: 10px;">
                                <div class="m-b10"> <mat-form-field class="width100" appearance="outline">
                                        <mat-label>User Name</mat-label>
                                        <input matInput placeholder="Enter user name" [ngModel]="userName"
                                            [formControl]="userNameControl" minlength="6" maxlength="20"
                                            (keydown)="allowAllNumberAndString($event)">
                                        <mat-error
                                            *ngIf="userNameControl.invalid && (userNameControl.dirty || userNameControl.touched)">Invalid
                                            user name</mat-error>
                                    </mat-form-field></div>
                                <div class="m-b10"> <mat-form-field class="width100" appearance="outline">
                                        <mat-label>Password</mat-label>
                                        <input matInput placeholder="Enter password" [ngModel]="password"
                                            [formControl]="passwordControl" minlength="6" maxlength="8"
                                            (keydown)="allowAllNumberAndString($event)">
                                        <mat-error
                                            *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)">Invalid
                                            password</mat-error>
                                    </mat-form-field></div>
                            </div>
                        </div>
                    </div>
                    <button class="btn-primary place-order-btn" (click)="buyNow()">Place Order</button>
                </div>
            </div>
        </div>
    </div>
</div>