<div style="max-width: 1140px;margin: auto;height: 73.5%;margin-top: 50px;">
    <div style="display: flex;justify-content: center;">
        <div style="flex: 0 0 84.33333%;">

            <div class="wrapper" style="width: 100%;">
                <div style="flex-wrap: wrap;" class="width100 flex">
                    <div style="box-sizing: border-box;padding: 3rem !important;" class="width50">
                        <h3 style="margin-bottom: 2.0rem;">Get in touch</h3>
                    </div>
                    <div class="info-wrap bg-primary width50">
                        <h3 style="margin-top: 1.0rem;margin-bottom: 2.0rem;color: white;">Contact us</h3>
                        <div class="flex dbox">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <mat-icon class="map-marker" aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="location_on"></mat-icon>
                            </div>
                            <div style="width: calc(100% - 50px);padding-left: 1rem;" class="align-center">
                                <p>
                                    <span>Address:</span>
                                    105,bajanai kovil streed,Arumbakkam,Tiruvallur
                                </p>
                            </div>
                        </div>
                        <div class="flex dbox">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <mat-icon class="map-marker" aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="call"></mat-icon>
                            </div>
                            <div style="width: calc(100% - 50px);padding-left: 1rem;" class="align-center">
                                <p>
                                    <span>Phone:</span>
                                    +91 9080151413
                                </p>
                            </div>
                        </div>
                        <div class="flex dbox">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <mat-icon class="map-marker" aria-hidden="false" aria-label="Example home icon"
                                    fontIcon="mail"></mat-icon>
                            </div>
                            <div style="width: calc(100% - 50px);padding-left: 1rem;" class="align-center">
                                <p>
                                    <span>Email:</span>
                                    Kumarraj77279&#64;gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>