<div style="height: 100vh;">
    <div class="shopping-header">
        <div style="margin-left: 20px;">
            <input class="input-box" placeholder="Search" [(ngModel)]="searchWord" (input)="searchWordFunction()" style="    padding-left: 16px;
            background: white;">
        </div>
    
        <div style="width: 38%;" class="pagination-filter-wrapper">
            <mat-paginator class="pagination" [length]="totalCount" [pageSize]="10" [hidePageSize]="true"
                aria-label="Select page" (page)="handlePageEvent($event)" [pageIndex]="currentPage-1">
            </mat-paginator>
            <app-filter [moduleMetaList]="moduleMetaList"></app-filter>
        </div>
    </div>
    <ul class="demo1">
        <li *ngFor="let item of datas; trackBy: trackByName">
            <app-update-product-carts [productDetails]="item" class="flex height100" (productClicked)="productItemClicked($event)" (deleteProduct)="deleteProduct($event)"></app-update-product-carts>
        </li>
    </ul>
    <div *ngIf="datas.length<1" style="height: calc(100% - (61px));" class="flex content-center">
        <h2>No data available</h2>
    </div>
</div>