<div class="cart" (click)="clickedProduct()">
    <div class="flex justfy-end">
    <div class="delete-wrapper">
        <!-- <button class="buynow" (click)="clickedProduct()">
            BuyNow
        </button> -->
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" class="small-icon-button" matTooltip="Delete product" (click)="deleteProductClicked($event)">
            <mat-icon>delete</mat-icon>
          </button>
    </div>
</div>
    <!-- <img [src]="environment+'/ZKart/ViewImages?file_name=' + image" height="130px" style="margin-bottom: 5px;"> -->
    <img [src]="environment+'/ZKart/images/' + image" height="130px" style="margin-bottom: 5px;">
    <h2 class="ellipsis">{{ name }}</h2>
    <p class="description">{{description}}</p>
    <div class="flex" style="margin-bottom: 6px;gap:4px">
        <app-star-rating [rating]="star"></app-star-rating>
    <span>{{ rating_count }}</span>
    </div>
    <p class="flex">
        ${{ discountPrice }} |
        <span class="discount"> {{ discount }}% off</span>
        <span class="actual-price">${{ price }}</span>
    </p>
    <!-- <div class="flex" style="justify-content: space-evenly;">
        <button class="addtocart" (click)="addToCart($event)">
            <span *ngIf="!addToCartloading">AddToCart</span>
            <mat-spinner *ngIf="addToCartloading" style="margin:0 auto;" [diameter]="20"></mat-spinner>
        </button>
        <button class="buynow" (click)="clickedProduct()">
            BuyNow
        </button>
    </div> -->
</div>