<div class="sign-in-page flex width100 justfy-center page-background-color">
    <div style="width: 50%;" class="">
    <div class="form-background">
        <h1>Sign up to your account</h1>
        <div style="display: flex; flex-direction: column;">
            <mat-form-field>
                <mat-label>Enter your username</mat-label>
                <input matInput [(ngModel)]="userName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Enter your password</mat-label>
                <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'" >
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="names">
            </mat-form-field>
            <mat-form-field>
                <mat-label>LastName</mat-label>
                <input matInput [(ngModel)]="lastName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone number</mat-label>
                <input matInput [(ngModel)]="phoneNum">
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="myFunction()">Basic</button>
        </div>
    </div>
</div>
</div>