<div style="height: 100vh">
  <div style="padding: 0px 4px">
    <div class="analytics-header-banner-container justfy-space-between">
      <div
        class="flex justfy-center flex-column gap8"
        style="padding-left: 3.5rem"
      >
        <div>
          <span class="analytics-header-banner-container-title"
            >Data Explorer</span
          >
        </div>
        <span style="color: #edf5ffff"
          >Gain Insights and boost facility efficiency and operations with
          advanced analytics</span
        >
        <div class="flex gap10">
          <button class="h32 br5 br-transparent first-button align-center gap4">
            <img
              src="/assets/images/analyticssvg.svg"
              alt="image"
              width="20px"
              height="20px"
            />
            <span>Start Analyzing Data</span>
          </button>
          <button class="css-pi10og">
            <mat-icon
              class="customIconSize"
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="create_new_folder"
            ></mat-icon>
            <span>Create Folder</span>
          </button>
        </div>
      </div>
      <div>
        <img
          src="/assets/images/analytics.webp"
          alt="image"
          width="350px"
          height="170px"
        />
      </div>
    </div>

    <div class="gap10 flex-column mT10">
      <div *ngFor="let folder of folders; trackBy: trackByFolderId">
        <app-folder [id]="folder.id" [name]="folder.folderName" (editedFolderName)="editFolderName($event)" (deleteFolder)="deleteFolder($event)"></app-folder>
      </div>
    </div>
  </div>
</div>
