.full-flex{
    display: flex;
	align-items: center;
	justify-content: center;
}
.in-de-button {
	height: 25px;
	width: 25px;
	border: 1px solid black;
}
.dec-button {
	border-radius: 5px 0px 0px 5px;
	margin: -1;
}
.inc-button {
	border-radius: 0px 5px 5px 0px;
	margin: -1;
}