.header{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid #f3f3f4;
    padding: 20px 0px 25px 0px;
}
.demo-section + .demo-section {
    margin-top: 16px;
  }
  .flex{
    display: flex;
    align-items: center;
  }
  .mat-badge-content {
    background: red;
    color: blue;
}
.header-right{
    margin-right: 20px;
}
.navigation-bar{

}
.navigation-strip{
    /* max-width: 1140px; */
}
.navigation-bar .site-menu > li {
    display: inline-block;
    padding: 10px 5px;
}
.navigation-bar .site-menu .has-children a {
    text-transform: uppercase;
}
.navigation-bar .site-menu .active > a {
    color: #7971ea;
}
.navigation-bar .site-menu > li > a {
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #25262a;
    font-size: 15px;
    text-decoration: none !important;
}
.product-name-wrapper{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.product-name{
    border: 2px solid;
    padding: 6px 14px;
}